

body {
    background-color: green;
}

.kwadrat {
    margin: 0 auto;
    border-radius: 5px;
    background-color: crimson;
    width: 150px;
    height: 200px;
    opacity: 1;
}

/* taki bedzie po zmainaie koloru */

.kwadrat2 {
    margin: 0 auto;
    border-radius: 5px;
    width: 150px;
    height: 200px;
    background-color: black;
    opacity: 1;

}


.button {
    margin: 0 auto;
    border-radius: 8px;
    background-color: gray;
    width:150px;

}

.button2 {
    margin: 0 auto;
    border-radius: 8px;
    background-color: gray;
    width: 150px;

}

.button3 {
    margin: 0 auto;
    border-radius: 5px;
    background-color: gray;
    width: 150px;
    transition: opacity 2s;
}

.visible {
    opacity: 0;
    margin: 0px auto;
    transition: opacity 2s;
}

